@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*===RESET===*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*===VARIÁVEIS===*/
:root {
    /* 🎨 Cores */
    --body-bg: #f6f5fa;
  --body-text: #1f1f1f;
     --header-bg: #4caf7a;  
  --header-title: #6e6a7a;
  --header-subtitle: #6e6a7a;
  --bg-main: #e6e6ff;
  --bg-card: #7c7cff;
  --text-main: #1f1f1f; 

  /* 📐 Espaçamentos */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;

  /* 🔤 Tipografia */
  --header-title-size: 1.5rem;
  --header-subtitle-size: 0.875rem;
  --font-main: 'Poppins', sans-serif;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;

  /* 🧩 UI */
  --radius-sm: 8px;
  --radius-md: 12px;
}
 /*==global==*/
body{
    font-family: var(--font-main); /*fonte global*/
    color: var(--body-text); /*cor padrão do texto*/
    background-color: var(--body-bg); /*fundo da pagina*/
    font-weight: 400; /*peso base*/
    font-size: var(--text-md); /*tamanho base do texto*/

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.topo {
    background-color: var(--header-bg);
    padding: var(--space-md);
    text-align: center;
}
 .titulo {
    color: var(--header-title);
    font-size: var(--header-title);

 }
 .subtitulo {
    color: var(--header-subtitle);
    font-size: var(--header-subtitle-size);
 }
 .container {
    padding: var(--space-xl);
    max-width: 720px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-lg);
 }
 .card {
    background-color: var(--bg-card);
    padding: var(--space-lg);
    border-radius: var(--radius-md);
 }